[submodule "packages/branzia/admin"]
	path = packages/branzia/admin
	url = https://github.com/branzia/admin
[submodule "packages/branzia/catalog"]
	path = packages/branzia/catalog
	url = https://github.com/branzia/catalog
[submodule "packages/branzia/tax"]
	path = packages/branzia/tax
	url = https://github.com/branzia/tax
[submodule "packages/branzia/checkout"]
	path = packages/branzia/checkout
	url = https://github.com/branzia/checkout

[submodule "packages/branzia/hookable"]
	path = packages/branzia/hookable
	url = https://github.com/branzia/hookable
[submodule "packages/branzia/shop"]
	path = packages/branzia/shop
	url = https://github.com/branzia/shop
[submodule "packages/branzia/blueprint"]
	path = packages/branzia/blueprint
	url = https://github.com/branzia/blueprint
[submodule "packages/branzia/customer"]
	path = packages/branzia/customer
	url = https://github.com/branzia/customer
[submodule "packages/branzia/shipping"]
	path = packages/branzia/shipping
	url = https://github.com/branzia/shipping
[submodule "packages/branzia/payment"]
	path = packages/branzia/payment
	url = https://github.com/branzia/payment
[submodule "packages/branzia/sales"]
	path = packages/branzia/sales
	url = https://github.com/branzia/sales
[submodule "packages/branzia/blog"]
	path = packages/branzia/blog
	url = https://github.com/branzia/blog
[submodule "packages/branzia/cms"]
	path = packages/branzia/cms
	url = https://github.com/branzia/cms
[submodule "packages/branzia/razorpay"]
	path = packages/branzia/razorpay
	url = https://github.com/branzia/razorpay
[submodule "packages/branzia/stripe"]
	path = packages/branzia/stripe
	url = https://github.com/branzia/stripe
[submodule "packages/branzia/authorizenet"]
	path = packages/branzia/authorizenet
	url = https://github.com/branzia/authorizenet
[submodule "packages/branzia/wishlist"]
	path = packages/branzia/wishlist
	url = https://github.com/branzia/wishlist
[submodule "packages/branzia/review"]
	path = packages/branzia/review
	url = https://github.com/branzia/review
[submodule "packages/branzia/newsletter"]
	path = packages/branzia/newsletter
	url = https://github.com/branzia/newsletter
