[submodule "packages/branzia/admin"]
	path = packages/branzia/admin
	url = https://github.com/branzia/admin
[submodule "packages/branzia/catalog"]
	path = packages/branzia/catalog
	url = https://github.com/branzia/catalog
[submodule "packages/branzia/tax"]
	path = packages/branzia/tax
	url = https://github.com/branzia/tax
[submodule "packages/branzia/checkout"]
	path = packages/branzia/checkout
	url = https://github.com/branzia/checkout

